body
{
    background-color: #D2B48C;
    color: #696969;
}

table
{
    border-collapse: collapse;
}
table, th, td
{
    border: 1px solid white;
}

table
{
    width: 100%;
}

table{
    height: 50px;
}

th
{
    text-align: center;
    background-color: #FFFF99;
    color: #696969;
}

td
{
    height: 10px;
    background-color: #F08080;
    color: #FFFFFF;
}

th, td
{
    padding: 15px;
    text-align: left;
}

tr:hover
{
    background-color: #CCCCCC;
}

tr:nth-child(even)
{
    background-color: #EDEDED;
}

padding
{
    background-color: white;
}

.add label
{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
}

.add input
{
    display: inline-block;
    float: left;
    
}

.update label
{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
}

.update input
{
    display: inline-block;
    float: left;
    
}
